.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #6164a9;
  background-color: transparent;
  border-bottom: 3px solid #6164a9;
}

.nav-pills .nav-link {
  color: #454545;
  border-radius: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 2.5rem;
  font-weight: 600;
}

.nav {
  border-bottom: 1px solid #d3d3d3 !important;
}

/* You can add global styles to this file, and also import other style files */
.logo {
  font-size: 6rem;
  color: deepskyblue;
  margin-bottom: -2rem !important;
}

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
  font-family: 'Poppins',
    sans-serif;
  font-size: 14px;
  color: #454545;
  background: #F3F2F0;
}

[routerLink]:focus {
  outline: none !important;
}

.f-600 {
  font-weight: 600;
}

.divider-one {
  height: 2rem;
}

.hover:hover {
  cursor: pointer;
}

.no-focus {
  text-decoration: none !important;
}

.btn,
.form-control {
  font-size: 14px !important;
}

.primary-link {
  color: #464775;
  text-decoration: none;
}

.clr-one {
  color: #464775;
}

.clr-two {
  color: #00A3FF;
}

.clr-three {
  color: #707683;
}

.clr-four {
  color: #8AC625;
}

.clr-five {
  color: #898989;
}

.bg-one {
  color: #F3F7F8;
}

.btn-one {
  background: #00A3FF;
  color: #fff;
  font-size: 14px;
}

.btn-one:hover {
  background: rgb(8, 146, 226);
  color: #fff;
}

.btn-two {
  background: #c4c4c4;
  color: #fff;
  font-size: 14px;
}

.btn-two:hover {
  background: #9b9b9b;
  color: #fff;
}

/* .shadow-sm-one {
box-shadow: 0 .125rem .25rem #109CF1 !important;
} */
.border-bottom {
  border-color: #EBEFF2 !important;
}

.table td,
.table th {
  border-top: none !important;
  color: #323C47 !important;
}

.table td {
  cursor: pointer;
  vertical-align: middle;
  color: #707683;
}

.table-hover tbody tr:hover {
  color: #323C47;
  background-color: #F3F7F8;
}

.td-main-text {
  font-size: 15px;
  font-weight: 600;
}

.td-secondary-text {
  font-size: 13px;
}

.td-attendee>img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  border-radius: 3rem;
  margin-left: -0.8rem;
}

.meeting-attendee>img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  border-radius: 3rem;
  margin-right: 0.2rem;
}

.td-attendee-more {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  background: #c4c4c4;
  padding: 0.8rem;
  margin-left: -0.8rem;
}

.td-attendee-add {
  padding: 1rem 0.725rem;
  border-radius: 5rem;
  background: #c4c4c4;
  /* margin-top: 1rem;  */
  width: 3.35rem;
  height: 3.35rem;
}

.td-attendee-add>img {
  width: 1.8rem;
}

.meeting-attendee-more {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  background: #c4c4c4;
  padding: 0.8rem;
}

.agenda-header {
  background: #F8F8F8;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  padding: 0.35rem;
}

.agenda-footer {
  display: flex;
  position: relative;
}

.input-user {
  margin-right: 1rem;
}

#agenda-title {
  font-size: 1.2rem !important;
  font-weight: 600;
}

.agenda-title-plain-text {
  font-size: 1.2rem;
  font-weight: 600;
  color: #6c757d !important;
}

.input-content {
  width: 100%;
}

#input-file {
  display: none
}

.cust-input-container {
  position: relative;
}

.cust-upload {
  padding: 1.5rem;
  border: 2px dotted #ddd;
  border-radius: 0.25rem;
  cursor: pointer;
}
