.table td {
  padding: 0.7rem !important;
}

.list-group-item {
  padding: 0.45rem 1rem !important;
  cursor: pointer;
}

.meeting-card>.table-responsive {
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
