th:nth-child(1) {
  width: 30%;
}

th:nth-child(2) {
  width: 25%;
}

th:nth-child(3) {
  width: 25%;
}

th:nth-child(4) {
  width: 10%;
}

th:nth-child(5) {
  width: 10%;
}

/* You can add global styles to this file, and also import other style files */
.logo {
  font-size: 6rem;
  color: deepskyblue;
  margin-bottom: -2rem !important;
}

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
  font-family: 'Poppins',
    sans-serif;
  font-size: 14px;
  color: #454545;
  background: #F3F2F0;
}

[routerLink]:focus {
  outline: none !important;
}

.f-600 {
  font-weight: 600;
}

.divider-one {
  height: 2rem;
}

.hover:hover {
  cursor: pointer;
}

.no-focus {
  text-decoration: none !important;
}

.btn,
.form-control {
  font-size: 14px !important;
}

.primary-link {
  color: #464775;
  text-decoration: none;
}

.clr-one {
  color: #464775;
}

.clr-two {
  color: #00A3FF;
}

.clr-three {
  color: #707683;
}

.clr-four {
  color: #8AC625;
}

.clr-five {
  color: #898989;
}

.bg-one {
  color: #F3F7F8;
}

.btn-one {
  background: #00A3FF;
  color: #fff;
  font-size: 14px;
}

.btn-one:hover {
  background: rgb(8, 146, 226);
  color: #fff;
}

.btn-two {
  background: #c4c4c4;
  color: #fff;
  font-size: 14px;
}

.btn-two:hover {
  background: #9b9b9b;
  color: #fff;
}

/* .shadow-sm-one {
  box-shadow: 0 .125rem .25rem #109CF1 !important;
} */
.border-bottom {
  border-color: #EBEFF2 !important;
}

.table td,
.table th {
  border-top: none !important;
  color: #323C47 !important;
}

.table td {
  cursor: pointer;
  vertical-align: middle;
  color: #707683;
}

.table-hover tbody tr:hover {
  color: #323C47;
  background-color: #F3F7F8;
}

.td-main-text {
  font-size: 15px;
  font-weight: 600;
}

.td-secondary-text {
  font-size: 13px;
}

.td-attendee>img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  border-radius: 3rem;
  margin-left: -0.8rem;
}

.meeting-attendee>img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  border-radius: 3rem;
  margin-right: 0.2rem;
}

.td-attendee-more {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  background: #c4c4c4;
  padding: 0.8rem;
  margin-left: -0.8rem;
}

.td-attendee-add {
  padding: 1rem 0.725rem;
  border-radius: 5rem;
  background: #c4c4c4;
  /* margin-top: 1rem;  */
  width: 3.35rem;
  height: 3.35rem;
}

.td-attendee-add>img {
  width: 1.8rem;
}

.meeting-attendee-more {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  background: #c4c4c4;
  padding: 0.8rem;
}

.agenda-header {
  background: #F8F8F8;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  padding: 0.35rem;
}

.agenda-footer {
  display: flex;
  position: relative;
}

.input-user {
  margin-right: 1rem;
}

#agenda-title {
  font-size: 1.2rem !important;
  font-weight: 600;
}

.agenda-title-plain-text {
  font-size: 1.2rem;
  font-weight: 600;
  color: #6c757d !important;
}

.input-content {
  width: 100%;
}

#input-file {
  display: none
}

.cust-input-container {
  position: relative;
}

.cust-upload {
  padding: 1.5rem;
  border: 2px dotted #ddd;
  border-radius: 0.25rem;
  cursor: pointer;
}
.mt3{
  margin-top: 2rem;
}

.bdr {
  border: none;
}

.powermeet-contianer {
  height: calc(100vh - 62px) !important;
  overflow-y: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.date-filter>li {
  padding: 0.3rem 1rem;
  cursor: pointer;
}



/* hover card start */

.circle-profile {
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
  background: #ddd;
  position: relative;
}

.circle-top-left>img {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0;
  left: 0;
  background: lightgray;
  border-top-left-radius: 5rem;
  /*   object-fit:contain; */
}

.Participants-parent1:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  min-width: 300px;
  max-height: 300px;
  overflow: auto;
}

.circle-top-right>img {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0;
  right: 0;
  background: lightgray;
  border-top-right-radius: 5rem;
}

.circle-bottom-left>img {
  position: absolute;
  width: 1rem;
  height: 1rem;
  bottom: 0;
  left: 0;
  background: lightgray;
  border-bottom-left-radius: 5rem;
  border-right: 1px solid #fff !important;
}

.circle-bottom-right>img {
  position: absolute;
  width: 1rem;
  height: 1rem;
  bottom: 0;
  right: 0;
  background: gray;
  border-bottom-right-radius: 5rem;
}
.members-list {
  list-style-type: none;
  /* padding: 0.25rem;
  padding-right: 0.25rem; */
}

.members-list>li {
  display: flex;
  height: 3rem;
  line-height: 3rem;
}

.members-list>li:hover {
  background: #e3e8eb;
  cursor: pointer;
}


.members-list>li>.user-img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  margin-right: 0rem;
}

.members-list>li>.user-img>img {
  border-radius: 5rem;
}
.attendee-parent>.dropdown-menu {
  min-width: 300px;
  max-height: 300px;
  overflow: auto;
}

.attendee-parent {
  width: 3.5rem;

}
/* hover card end */
