<!-- upcoming meetings section :start  -->
<ngx-spinner bdColor="rgba(0,0,0,0.4)" size="medium" color="#fff" type="ball-spin-fade" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<!-- Moal Body -->

<div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">


      <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Are you sure you want to delete Hotel</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>


      <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger"  data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
              </div>

          </div>
      </div>
</div>


<!-- upcoming meetings section :start  -->
<!-- <div class="divider-one"></div> -->

<div class="powermeet-contianer mt3">
  <div class="d-flex justify-content-between my-4">
    <div>
      <h5 class="mb-1">Upcoming Meetings</h5>
    </div>
    <div class="d-flex mt-2">
      <div class="mr-2 ">
        <ul class="list-group list-group-horizontal date-filter shadow-sm">
          <li id="toid1" class="list-group-item active" (click)="filters('Day','toid1')">Today</li>
          <li id="woid1" class="list-group-item" (click)="filters('Week','woid1')">This Week</li>
          <!-- <li id="moid" class="list-group-item" (click)="filters('Month','moid')">This Month</li> -->
        </ul>
      </div>
      <div>
        <button class="btn btn-primary">New Meeting</button>
        <!-- <input type="date" id="customDate" name="" class="form-control shadow-sm" id="daid"
          (change)="filters($event.target.value,'daid')"> -->
      </div>

    </div>
  </div>
  <div *ngIf="isWeek">
    <img src="https://restfuncapp2020080721521.blob.core.windows.net/blob/Screenshot_146.png" style="width: 100%;" />
  </div>
  <!-- completed meetings section :start  -->
  <div class="row" *ngIf="!isWeek">
    <div class="col-12">
      <div class="card card-body shadow-sm p-0 bdr">

        <!-- card header section :start  -->

        <!-- card header section :end  -->

        <!-- card body section : start  -->
        <div class="table-responsive" style="height: calc(100vh - 120px) !important;
    overflow-y: auto;">
          <table class="table table-hover">
            <thead class="bg-light">
              <tr>
                <th scope="col" style="width: 40%;">Meeting</th>
                <!-- <th class="text-center" scope="col">Meeting Type</th> -->
                <th  scope="col" style="width: 10%;">Attendees</th>
                <th class="text-center" scope="col">Time</th>
                <th class="text-center" scope="col">Agenda</th>
                <th class="text-center" scope="col">Action</th>
                <th class="text-center" scope="col"></th>
              </tr>
            </thead>
            <tbody>

              <tr class="border-bottom " *ngFor="let meeting1 of meetingsListcompleted1;let i = index">
                <td (click)="getmeeting(meeting1)">
                  <span class="td-main-text">
                    {{meeting1?.MeetingName}}
                  </span>
                  <br>
                  <!-- <span class="text-turncate td-secondary-text"> (change)="meetingTypeUpdate($event.target.value,meeting1)"
                                    {{meeting1?.MeetingDescription}}
                                </span> -->
                </td>
                <!-- <td class="text-center">

                  <div class="row">
                    <div class="col-6 offset-3">
                      <select class="form-control shadow-sm" (ngModelChange)="meetingTypeUpdate($event,meeting1)"
                        [(ngModel)]="meeting1.MeetingType">
                        <option selected="selected" disabled>--Select--</option>
                        <option value="Team Meeting">Team Meeting</option>
                        <option value="1:1">1:1</option>
                        <option value="Scrum">Scrum</option>
                      </select>
                    </div>
                  </div>
                </td> -->

                <td class="text-center">
                  <!-- <span *ngFor="let j = index;let attendee of meeting1?.MeetingAttendees | slice:0:3">
                    <span class="td-attendee-more1" *ngIf="!getStatus(attendee.Email)"
                      [style.background-color]="colorsArray[0]">
                      {{getStatus(attendee.Email)?.displayName | uppercase}}
                    </span>
                    <span class="td-attendee" *ngIf="getStatus(attendee.Email)">
                      <img [src]="getStatus(attendee.Email)?.file" alt="" class="img-fluid">
                    </span>
                  </span>
                  <span class="td-attendee-more1" *ngIf="meeting1?.MeetingAttendees.length > 4">
                    +{{meeting1?.MeetingAttendees.length - 3}}
                  </span> -->
                  <div class="" *ngIf="meeting1?.MeetingAttendees.length > 0">

                    <div class="dropdown Participants-parent1">
                      <div class=" " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <div class="circle-profile">
                          <div class="circle-top-left" *ngIf="meeting1?.MeetingAttendees[0]">
                            <img  [src]="getStatus(meeting1?.MeetingAttendees[0]?.Email)?.file" alt="">
                          </div>
                          <div class="circle-top-right" *ngIf="meeting1?.MeetingAttendees[1]">
                            <img [src]="getStatus(meeting1?.MeetingAttendees[1]?.Email)?.file" alt="">
                          </div>
                          <div class="circle-bottom-left" *ngIf="meeting1?.MeetingAttendees[2]">
                            <img [src]="getStatus(meeting1?.MeetingAttendees[2]?.Email)?.file" alt="">
                          </div>
                          <div class="circle-bottom-right" *ngIf="meeting1?.MeetingAttendees[3]">
                            <img [src]="getStatus(meeting1?.MeetingAttendees[3]?.Email)?.file" alt="">
                          </div>
                        </div>

                      </div>
                      <div class="dropdown-menu dd">
                        <div class="form-group px-2 mb-0">
                        </div>
                        <ul *ngFor="let attendee of meeting1?.MeetingAttendees; let j = index"
                          class="members-list mb-0">
                          <li class="mb-1">
                            <span class="user-img ml-2">
                              <span class="td-attendee-more1" *ngIf="!getStatus(attendee?.Email)?.status"
                                [style.background-color]="colorsArray[0]">
                                {{getStatus(attendee?.Email)?.displayName | uppercase}}
                              </span>
                              <span class="td-attendee" *ngIf="getStatus(attendee?.Email)">
                                <img [src]="getStatus(attendee?.Email)?.file" alt="" class="img-fluid">
                              </span>
                            </span>
                            <span class="mbmr-name">
                              {{getStatus(attendee?.Email)?.fullname}}
                            </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </td>

                <td class="text-center">
                  <span class=" td-main-text" *ngIf="meeting1?.IsRecurring">
                    Every Day
                  </span>
                  <br>
                  <span class=" td-main-text">
                    {{ConvertTolocal(meeting1?.StartDate) | date:'HH:mm'}}
                  </span>
                </td>
                <td class="text-center">
                  <span class="td-main-text" *ngIf="meeting1?.AgendaItems.length > 0">
                    {{getapprovedcount(meeting1?.AgendaItems)}} approved
                    of {{meeting1?.AgendaItems.length}}
                  </span>
                  <span class="td-main-text clr-four hover" *ngIf="meeting1?.AgendaItems.length==0"
                    (click)="getmeeting(meeting1)">
                    Add Agenda
                  </span>
                </td>

                <td class="text-center">
                  <span class="td-main-text clr-four hover">
                    Notes
                  </span>
                  <br>
                  <span class="td-action-icon mx-1" [routerLink]="['/Notes']"
                    [queryParams]="{ Id: meeting1?.MeetingID,'start': 'false'}">
                    <i class="fa fa-plus-square-o" style="font-size: 20px;"></i>
                  </span>
                </td>

                <td class="text-center">
                  <span class="td-main-text clr-four hover">
                    Start
                  </span>
                  <br>
                  <span class="td-action-icon mx-1" [routerLink]="['/Notes']"
                    [queryParams]="{ Id: meeting1?.MeetingID,'start': 'true'}">
                    <i class="fa fa-play text-success" style="font-size: 20px;"></i>

                  </span>
                </td>

              </tr>


            </tbody>
          </table>
        </div>
        <!-- card body section : end  -->

      </div>
    </div>
  </div>
</div>

<!-- completed meetings section :start  -->
