.notification-card {
  background: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.notification-card:hover {
  cursor: pointer;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.new-ribbon {
  background: #FFCE50;
  color: #fff;
  padding: 0.3rem 0.5rem;
  font-size: 13px;
  animation: blinkingText 1.2s infinite;
}


@keyframes blinkingText {
  0% {
    color: #fff;
  }

  49% {
    color: #fff;
  }

  60% {
    color: transparent;
  }

  99% {
    color: transparent;
  }

  100% {
    color: #fff;
  }
}

.notification-cont-list>li::before {
  content: "\2192";
  position: absolute;
  left: 0;
  color: #ddd;
}

.notification-cont-list {
  border-left: 1px solid #ddd;
  position: relative;
  list-style: none;
  padding-left: 1.2rem;
}

.fit-cont {
  width: fit-content !important;
}

.notification-content {
  margin-bottom: 0px;
  margin-left: 3rem;
  font-size: 18px;
  font-weight: 600;
  color: #3e3e3e;
}
