<div class="powermeet-contianer">
  <div class="row ">
    <div class="col-12">
      <div class="notification-card" *ngFor="let notif of sortData">

        <div class="d-flex justify-content-between">
          <div class="meeting-headline ml-4">
            <span class="td-attendee-more1" *ngIf="!getUserStatus(notif?.AssigneeName)"
              [style.background-color]="colorsArray[0]">
              {{getUserStatus(notif?.AssigneeName)?.displayName | uppercase}}{{notif?.AssigneeName | uppercase | slice:0:2}}
            </span>
            <span class="td-attendee1" *ngIf="getUserStatus(notif?.AssigneeName)">
              <img [src]="getUserStatus(notif?.AssigneeName)?.file" alt="" class="img-fluid">
            </span>
            <span class="text-info">
              {{getUserStatus(notif?.AssigneeName)?.fullname}}
            </span>

          </div>

          <div class="notification-time">
            <p class="clr-one f-600">{{ConvertTolocal(notif?.NotificationDateTime) | date:'medium'}}</p>
          </div>

        </div>
        <h6 class="text-info">{{notif?.fullname}}</h6>
        <p class="notification-content">
          {{notif?.NotificationStatus}}
        </p>
      </div>

    </div>
  </div>
</div>
