<div class="container-fluid">
    <div class="row mt3">
        <div class="col-12">
            <div class="card card-body notification-card p-3 mb-2" *ngFor="let notif of sortData">

                <div class="d-flex justify-content-between">
                    <div class="meeting-headline ml-4">
                        <span class="td-attendee-more" *ngIf="!getUserStatus(notif?.AssigneeName)"  [style.background-color]="colorsArray[0]">
                            {{getUserStatus(notif?.AssigneeName)?.displayName | uppercase}}{{notif?.AssigneeName | uppercase | slice:0:2}}
                        </span>
                        <span class="td-attendee" *ngIf="getUserStatus(notif?.AssigneeName)">
                            <img [src]="getUserStatus(notif?.AssigneeName)?.file" alt="" class="img-fluid">
                        </span>
                        <span class="text-info">
                            {{getUserStatus(notif?.AssigneeName)?.fullname}} <a style="color: brown!important;">{{notif?.NotificationStatus}}</a>
                        </span>
                            
                    </div>

                    <div class="notification-time">
                        <p class="clr-one f-600">{{ConvertTolocal(notif?.NotificationDateTime) | date:'medium'}}</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>